extends ../layout/base.pug

block content
    main.centered
        h1 #{prod.title}
        hr
        div#imageContainer
            img(src=prod.imageUrl, alt=prod.title)
        h2 &#8377; #{prod.price}
        p #{prod.description}
        form(action="/add-to-cart", method="POST")
            button.btn(type="submit") Add to Cart
            input(type="hidden", name="productId", value=prod.id)